<div class="login-main">
  <div ng-controller="login.ctrl as loginCtrl">
    <div class="container" style="padding-top:20rem">
      <div class="row">
        <div class="col-xs-10 col-sm-5 col-md-4 col-sm-push-7 col-xs-push-1">
          <div class="panel panel-default">
            <div class="panel-body" style="margin-bottom:2rem;">
              <div class="row">
                <div class="col-xs-10 col-xs-push-1">
                  <div class="section-title"><h2>Sign-in</h2></div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Address" ng-model="loginCtrl.email"/>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="loginCtrl.password"/>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block" ng-click="loginCtrl.signIn()">
                    SIGN IN
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
