
  <div ng-controller="listing.ctrl as listingCtrl">

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">TESLACOIL</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-push-4">
          <div ng-translate-language-select></div>
        </div>
      </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="table-responsive">
              <table class="table table-condensed">
                <thead>
                  <th>{{"views.firstName"|translate}}</th>
                  <th>{{"views.lastName"|translate}}</th>
                  <th>{{"views.email"|translate}}</th>
                  <th>{{"views.phone"|translate}}</th>
                  <th>{{"views.postalcode"|translate}}</th>
                  <th>{{"views.location"|translate}}</th>
                  <th>{{"views.requestTime"|translate}}</th>
                  <th>{{"views.submitTime"|translate}}</th>
                </thead>
                <tbody>
                  <tr ng-repeat="item in listingCtrl.listitems">
                    <td>
                      {{item.firstname}}
                    </td>
                    <td>
                      {{item.lastname}}
                    </td>
                    <td>
                      {{item.email}}
                    </td>
                    <td>
                      {{item.phone}}
                    </td>
                    <td>
                      {{item.postalcode}}
                    </td>
                    <td>
                      {{item.location}}
                    </td>
                    <td>
                      {{item.requestTime | date : 'medium'}}
                    </td>
                    <td>
                      {{item.submitTime | date : 'medium'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
     </div>
  </div>
