<div>
  <div class="row">
    <div class="col-sm-8 col-sm-push-2">
      <div class="section-subtitle">
        <h1>{{"views.entry.complete.viewtitle"|translate}}</h1>
      </div>
    </div>
  </div>

  <div class="row-spacer"></div>
  <div class="row">
    <div class="col-sm-4 col-sm-push-4">
      <div ng-translate-language-select></div>
    </div>
  </div>

  <div class="row-spacer"></div>
  <div class="row">
    <div class="col-sm-8 col-sm-push-2">
      <div>
        {{"views.entry.complete.viewtext"|translate}}
      </div>
    </div>
  </div>

  <div class="row-spacer"></div>
  <div class="row">
    <div class="col-sm-4 col-sm-push-3">
      <a ui-sref="entry.form" class="btn btn-primary">{{"views.entry.complete.submitanother"|translate}}</a>
    </div>
  </div>
</div>
