
<div class="entry-main">
  <div class="container">
    <div  class="row-spacer"></div>
    <div class="row">
      <div class="pull-right">
        <a ui-sref="login" class="btn btn-primary">{{"views.entry.form.login"|translate}}</a>
      </div>
    </div>
  </div>
  <div>
  <div class="container">
    <div class="vertical-align">
    <div class="panel entry-panel panel-default">
      <div class="panel-body">
        <ui-view></ui-view>
      </div>
    </div>
    </div>
  </div>
  </div>
 </div>
